.idea/.idea.NUnit/.idea/.name
.idea/.idea.NUnit/.idea/vcs.xml
bin/Debug/net8.0/SeleniumAndNUnit.dll
bin/Debug/net8.0/SeleniumAndNUnit.pdb
obj/Debug/net8.0/ref/SeleniumAndNUnit.dll
obj/Debug/net8.0/refint/SeleniumAndNUnit.dll
obj/Debug/net8.0/SeleniumAndNUnit.AssemblyInfo.cs
obj/Debug/net8.0/SeleniumAndNUnit.AssemblyInfoInputs.cache
obj/Debug/net8.0/SeleniumAndNUnit.assets.cache
obj/Debug/net8.0/SeleniumAndNUnit.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/SeleniumAndNUnit.csproj.FileListAbsolute.txt
obj/Debug/net8.0/SeleniumAndNUnit.dll
obj/Debug/net8.0/SeleniumAndNUnit.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/SeleniumAndNUnit.pdb
obj/Debug/net8.0/SeleniumAndNUnit.genruntimeconfig.cache
obj/Debug/net8.0/SeleniumAndNUnit.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.restore.info
obj/rider.project.model.nuget.info
obj/SeleniumAndNUnit.csproj.nuget.dgspec.json
bin/Debug/net8.0/FluentAssertions.Json.dll
bin/Debug/net8.0/SeleniumExtras.WaitHelpers.dll
obj/Debug/net8.0/SeleniumAndNUnit.csproj.AssemblyReference.cache
NUnit.sln.DotSettings.user
obj/SeleniumAndNUnit.csproj.nuget.g.targets
obj/SeleniumAndNUnit.csproj.nuget.g.props
bin/Debug/net8.0/testhost.exe
bin/Debug/net8.0/testhost.dll
bin/Debug/net8.0/SeleniumAndNUnit.deps.json
bin/Debug/net8.0/NuGet.Frameworks.dll
bin/Debug/net8.0/cs
bin/Debug/net8.0
obj
bin/Debug/net6.0
